.data-related__hero--container {
  width: 1150px;
  height: 223px;
  position: absolute;
  top: 96px;
  left: 145px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  color: #ffffff;
}
.data-related__heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
.data-related__heading--img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
}
.data-related__heading--title {
  width: 836px;
  height: 63px;
  font-size: 42px;
}
.data-related__heading--btns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 120px;
  height: 96px;
  gap: 16px;
}
.data-related__content {
  font-size: 17px;
}
.btn-modify {
  width: 120px;
  height: 40px;
  color: #ffffff;
  font-size: 16px;
  font-style: Poppins;
  border: 1px solid #ffffff;
  padding: 6px 18px;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.data-related__details {
  width: 80%;
  margin: 0 auto;
  display: flex;
  margin-top: 52px;
  gap: 139px;
}

.fav__icon--container {
  cursor: pointer;
  stroke: #ffffff;
}
.line {
  border-right: 1px solid #f5f5f5;
}

.date-of__upload {
  width: 105px;
  height: 29px;
  padding: 6px 12px;
  line-height: 16.94px;
  background-color: #255973;
  font-size: 14px;
  text-align: center;
  border-radius: 100px;
}
.data-related__description {
}

.description--heading {
  width: 133px;
  height: 30px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.description--details {
  margin-top: 14px;
  width: 736px;
  height: auto;
}

.hackathon__info {
  width: 277px;
  height: 132px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.hackathon__heading {
  font-size: 17px;
  color: #858585;
  font-weight: 400;
  line-height: 25.5px;
}
.hackathon__name {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #333333;
}
.hackathon__dates {
  width: 100%;
  height: 18px;
  display: flex;

  gap: 8px;
}
/* .icon-dates {
  width: 15px;
  height: 16.5px;
  padding-left: 1.5px;
  padding-bottom: 0.75;
} */
.hackathon__start-and-end--date {
  width: 201px;
  height: 17px;
  font-size: 14px;
  line-height: 16.94px;
  color: #858585;
}
.btn-container {
  width: 213px;
  height: 93px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 40px;
}
.External__link {
  text-decoration: none;
}
.btn-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  padding: 6px 18px;
  color: #666666;
  border: 1px solid #666666;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}
/* logos */
.git-logo,
.open-new {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  fill: #666666;
}
.edit,
.delete {
  width: 24px;
  height: 24px; 
   fill: #ffffff;
}
